body {
	background: url(../img/main.jpg) no-repeat bottom center scroll;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

::selection {
    color: #F3F3F3; 
    background: #90CAF9;
}

html {
    overflow: hidden;
}
body {
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}

body * {
	border: 0px solid green;
}

header {
	width: 100%;
	margin: 15px 0 0;
	max-height: 30%;
}

.brand {
	width: 30%;
	margin: 0 auto 0;
}

.brand h1 {
	font-size: 50px;
}

.wrapper {
	margin: 30px auto 0;
	width: 80%;
	max-height: 75%;
	vertical-align: middle;
	overflow: scroll;
}

md-content {
	background-color: transparent;
	overflow: hidden;
}

.wrapper *{
	box-shadow: none;
}

md-autocomplete {
	box-shadow: none;
	border-radius: 0;
	border-bottom: 2px solid #fff;
	background-color: transparent;
	color: rgba(255,255,255,1);
}

md-autocomplete p {
	display: none;
}

.md-autocomplete-suggestions-container * {
}

.state-abbv {
	color: #6D6D6D;
}

md-autocomplete md-icon {
	display: none;
}

.wrapper div {
	margin-top: 30%;
}

.cur-location {
	margin-top: -24px;
}

/*************TOAST NOTIFICATIONS************/

.md-toast-content {
	background-color: #fff!important;
}

.md-toast-text {
	color: rgba(0,0,0,0.87);
}

.md-error-theme .md-toast-text {
	color: #EF5350;
}

.md-success-theme .md-toast-text {
	color: #8BC34A;
}

/*************FONTS************/

.brand {
	font-family: 'Poiret One', sans-serif;
}

header h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.wrapper {
	font-family: 'Raleway', sans-serif;
}

.cur-location {
	font-size: 12px;
}